.App {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}

.spinnerContainer{
  display: flex;
  justify-content: center;
  width: 100%;
}

.assesmentInner{
    display: flex;
}

.buttonRep{
  margin-top: 40px;
}

.questionLabel{
  font-size: 25px;
}

.noAssesment{
  text-align: center;
}

.option{
  border: 2px solid #5cb57e !important;
  border-radius: 24px !important;
}

.option::before{
  display: none !important;
}

.option::after{
  display: none !important;
}

.headliner{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 51px;
  
  color: #025e47;
}

.cta{
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 1;
  border-radius: 500px;
  padding: 19px 56px 21px;
  color: #FFF;
  background-color: #5cb57e;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  transition-duration: .3s;
  border-width: 0;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  text-align:center;
  font-weight: 700;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
}

.absImage{
  width: 100%;
  height: 332px;
}

.renderPainContainer{
  width: 50%
}

.aiContainer{
  padding: 20px;
  padding-left: 50px;
  width: 50%;
}


